@page "/company"
@using Hp_Web_App.Client.Shared

<!-- Page Specific Using Satements. If there are general ones then add them to _Imports.razor. -->
<!-- Only Administrators are allowed to browse to this page. -->
@attribute [Authorize(Roles = "Administrator")]

<!-- Dependency Injection. -->
@inject ICompanyService _companyService
@inject IUserService _userService
@inject IJSRuntime js
@inject NavigationManager _navigationManager

<!-- Back Button Navigation. -->
<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"></span> Home
</NavLink>
<br />

<!-- Header. -->
<h3>Companies</h3>

<!-- Show a table below with the current document types. Allow the user to add more document types. -->
<DynamicTable TModel="Company" Items="_companies" OnEdit="OnEditItem" OnDelete="OnDeleteItem" />
<br />
<button class="btn btn-primary" @onclick="ShowCreatePopup"><i class="oi oi-plus"></i> Add a Company</button>


@code {
    // Parameter used to enable the popup/modal window.
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    // Private properties used only in this page.
    private List<Company>? _companies { get; set; }

    private string ErrorMessage = string.Empty;

    // Load all required data when launching the page.
    protected override async Task OnInitializedAsync()
    {
        _companies = await _companyService.GetCompaniesAsync();
    }

    #region CRUD Operations
    async Task OnDeleteItem(Company company)
    {
        try
        {
            // Validate that the company Id is on 1 if it is then show an error message.
            if (company.Id == 1)
            {
                await js.InvokeVoidAsync("alert", "This company cannot be deleted!");
                return;
            }
            var users = await _userService.GetUserByCompanyAsync(company.Id);

            if (users.Count > 0)
            {
                await js.InvokeVoidAsync("alert", "This company cannot be deleted because it has users!");
                return;
            }
            await _companyService.DeleteCompanyAsync(company.Id);
            _companies = await _companyService.GetCompaniesAsync();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }
    #endregion

    #region Navigation
    async void ShowCreatePopup()
    {
        var options = new ModalOptions()
            {
                DisableBackgroundCancel = true
            };

        // Call the add form and wait to see if there is an Ok or Cancel.
        var createForm = Modal.Show<Create_Company>("Add a Company", options);
        var result = await createForm.Result;

        if (!result.Cancelled)
        {
            _companies = await _companyService.GetCompaniesAsync();
            StateHasChanged();
        }
    }

    async void OnEditItem(Company company)
    {
        int Id = company.Id; // Assuming the item has an Id property
        if (Id == 1)
        {
            await js.InvokeVoidAsync("alert", "This company cannot be edited!");
            return;
        }

        //Navigate to the Edit_Document page.
        _navigationManager.NavigateTo("Company/Edit/" + Id);
    }
    #endregion
}
