@page "/user"
@using Hp_Web_App.Client.Shared

<!-- Page Specific Using Satements. If there are general ones then add them to _Imports.razor. -->
<!-- Only Administrators are allowed to browse to this page. -->
@attribute [Authorize(Roles = "Administrator")]

<!-- Dependency Injection. -->
@inject IDataService _dataService
@inject IJSRuntime js

<!-- Back Button Navigation. -->
<NavLink class="nav-link" href="/" style="padding: 0 0 0 0">
    <span style="display: flex; align-items: center;">
        <text> <i class="oi oi-arrow-circle-left"></i> Home</text>
    </span>
</NavLink>
<br />

<!-- Header. -->
<h3>Users</h3>

<DynamicTable TModel="User" Items="_users" OnEdit="ShowEditPopup" OnDelete="OnDeleteItem" />
<br />
<button @onclick="ShowAddPopup" class="btn btn-primary"> <i class="oi oi-plus"></i> Add a User</button>

@code {
    // Parameter used to enable the popup/modal window.
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    // Private properties used only in this page.
    private List<User>? _users { get; set; }
    private List<UserRole>? _userRoles { get; set; }
    private List<Company>? _companies { get; set; }

    private string ErrorMessage = string.Empty;

    // Load all required data when launching the page.
    protected override async Task OnInitializedAsync()
    {
        _users = await _dataService.GetUsersAsync();
        _companies = await _dataService.GetCompaniesAsync();
        _userRoles = await _dataService.GetUserRolesAsync();
    }

    #region CRUD Operations
    async Task OnDeleteItem(User user)
    {
        try
        {
            await _dataService.DeleteUserAsync(user);
            _users = await _dataService.GetUsersAsync();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }
    }    
    #region Navigation
    async void ShowAddPopup()
    {
        var options = new ModalOptions()
            {
                DisableBackgroundCancel = true
            };

        // Call the add form and wait to see if there is an Ok or Cancel.
        var createForm = Modal.Show<Create_User>("Add a User", options);
        var result = await createForm.Result;

        if (!result.Cancelled)
        {
            _users = await _dataService.GetUsersAsync();
            StateHasChanged();
        }
    }

    async void ShowEditPopup(User editUser)
    {
        int userId = editUser.Id;
        var parameters = new ModalParameters
        {
            { nameof(Edit_Users.userId), userId }
        };
        var options = new ModalOptions()
            {
                DisableBackgroundCancel = true
            };

        // Call the add form and wait to see if there is an Ok or Cancel.
        var createForm = Modal.Show<Edit_Users>("Edit User", parameters, options);
        var result = await createForm.Result;

        if (!result.Cancelled)
        {
            _users = await _dataService.GetUsersAsync();
            StateHasChanged();
        }
    }
    #endregion
    #endregion
}
