@page "/"
@inject IJSRuntime js

<PageTitle>Index</PageTitle>
<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, world!</h1>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter] 
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    
    async Task DisplayGreetingAlert()
        {
            var authState = await authenticationStateTask;
            var message = $"Hello {authState.User.Identity.Name}";
            await js.InvokeVoidAsync("alert", message);
        }
}