@page "/LandingPage"
@using Hp_Web_App.Client.Pages.Authentication

@inject IJSRuntime js
@inject NavigationManager uriHelper

<PageTitle>Index</PageTitle>
<AuthorizeView>
    <Authorized>
        <head>
            <title> Document Manager </title>
            <style>
                .container {
                    padding: 100px;
                    justify-content: center;
                }
            </style>
        </head>
        <body>
            <div class="features">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <a href="/user">
                                <div class="item">
                                    <div class="image">
                                        <img src="images/usericon.png" alt="" style="max-width: 44px;">
                                    </div>
                                    <h4>Users</h4>
                                    <p>Here you can <span style="color:green; font-weight:bold;">create</span>, <span style="color:orange; font-weight:bold;">edit</span> or <span style="color:red; font-weight:bold;">delete</span> users</p>

                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a href="/company">
                                <div class="item">
                                    <div class="image">
                                        <img src="images/comapnyicon.png" alt="" style="max-width: 44px;">
                                    </div>
                                    <h4>Companies</h4>
                                    <p>Here you can <span style="color:green; font-weight:bold;">create</span>, <span style="color:orange; font-weight:bold;">edit</span> or <span style="color:red; font-weight:bold;">delete</span> companies</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a href="/document">
                                <div class="item">
                                    <div class="image">
                                        <img src="images/documentsicon.png" alt="" style="max-width: 44px;">

                                    </div>
                                    <h4>Documents</h4>
                                    <p>Here you can <span style="color:green; font-weight:bold;">create</span>, <span style="color:orange; font-weight:bold;">edit</span> or <span style="color:red; font-weight:bold;">delete</span> documents</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </Authorized>
    <NotAuthorized>
        <Login></Login>
    </NotAuthorized>
</AuthorizeView>





