@using Microsoft.AspNetCore.Components

<button @onclick="OnClick">@ButtonText</button>

@code {
    [Parameter] public string ButtonText { get; set; } = "Add Component";
    [Parameter] public EventCallback OnClick { get; set; }
}
