<div class="custom-component">
    <label title="@QuestionFieldDescription" for="@QuestionFieldLabel" class="bold-label">@QuestionFieldLabel:</label>
    <input title="@QuestionFieldDescription" type="number" id="@QuestionFieldLabel" @onchange="OnValueChanged" />
</div>

@code {

    [Parameter] public int DocumentId { get; set; }
    [Parameter] public int QuestionFieldId { get; set; }
    [Parameter] public string QuestionFieldLabel { get; set; }
    [Parameter] public string QuestionFieldDescription { get; set; } = string.Empty;
    [Parameter]
    public double Value { get; set; }
    [Parameter]
    public EventCallback<dynamic> ValueChanged { get; set; }

    private async Task OnValueChanged(ChangeEventArgs e)
    {
        string value = e.Value.ToString();
        Console.WriteLine($"The new value is {value}");
        await ValueChanged.InvokeAsync(e);
    }
}