@page "/Client_Email_Validator"
@page "/Client_info/"

@using Hp_Web_App.Shared.ClientFactories;
@using Microsoft.AspNetCore.Components.Forms;
@using Microsoft.Data.SqlClient;
@using Microsoft.AspNetCore.Identity;

<!-- Dependency Injection. -->
@inject IUserService _userService;
@inject ICompanyService _companyService;
@inject IHttpClientService _httpClientService;
@inject IClientService _clientService;
@inject IJSRuntime js
@inject NavigationManager navmanager;

<h5 class="text-primary">HP Client Page</h5>




@code {
        
}
