@page "/Contact_Us/"
<div class="Contact">
    <h2 class="para" >
        Thank you for your request. Before we can process your request, please clear any outstanding balances on your account(s). For support with your account status, reach out to us using the provided contact options.
    </h2>

    <div class="placeholders">
        <span class="col-lg-3">
            <div class="item">
                <div class="image">
                    <img src="images/icons8-phone-50.png" alt="" style="max-width: 44px" />
                </div>
                <h3>Phone</h3>
                <p>Feel free to contact one of our agents on 010 592 1873</p>
                <br />
            </div>
        </span>
        <span class="col-lg-3">
            <div class="item">
                <div class="image">
                    <img src="images/icons8-email-50.png" alt="" style="max-width: 44px" />
                </div>
                <h3>E-Mail</h3>
                <p>Send us a mail on virtual@hammondpole.co.za and one of our friendly advisors will contact you back</p>
            </div>
        </span>
        <span class="col-lg-3">
            <div class="item">
                <div class="image">
                    <img src="images/icons8-whatsapp-48.png" alt="" style="max-width: 44px" />
                </div>
                <h3>WhatsApp</h3>
                <a href="https://api.whatsapp.com/send?phone=27663353996&text=Hello,%20I%20would%20like%20to%20chat%20to%20you%20regarding%20my%20account%20that%20has%20been%20assigned%20to%20HP%20Attorneys.">Click here to speak to us on WhatsApp and one of our advisors will assist you</a>
            </div>
        </span>
        <span class="col-lg-3">
            <div class="item">
                <div class="image">
                    <img src="images/icons8-self-service-kiosk-50.png" alt="" style="max-width: 44px" />
                </div>
                <h3>Self Help Portal</h3>
                <a href="https://portal.hpd.co.za/">Just click here to go to our portal for a range of self help features</a>
                <br />
                <br />
            </div>
        </span>
    </div>
</div>

