@page "/user/create"
@inject IUserService userService
@inject NavigationManager uriHelper

<h3>Create</h3>

<!--Add a form for me that is based on the User Class with a submit button that executes CreateUser-->
<EditForm Model="@user" OnValidSubmit="CreateUser">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="Name">Name</label>
        <InputText class="form-control" id="Name" @bind-Value="user.Name" />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <InputText class="form-control" id="Email" @bind-Value="user.Email" />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <InputText class="form-control" id="Password" @bind-Value="user.Password" />
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
</EditForm>

@code {
    User user = new User();
    async Task CreateUser()
    {
        await userService.CreateUser(user);
        uriHelper.NavigateTo("/user");
    }
}
