@page "/user/edit/{userId:int}"

@inject IUserService userService
@inject NavigationManager uriHelper

<h3>Edit</h3>

<!--Create an Edit form that is bound to the user object that has a button to execute the UpdateUser method-->
<EditForm Model="@user" OnValidSubmit="UpdateUser">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="Name">Name</label>
        <InputText class="form-control" id="Name" @bind-Value="user.Name" />
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <InputText class="form-control" id="Email" @bind-Value="user.Email" />
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <InputText class="form-control" id="Password" @bind-Value="user.Password" />
    </div>
    <button class="btn btn-primary" type="submit">Update</button>
</EditForm>


@code {

    [Parameter] public int userId { get; set; }
    User user = new User();
    protected async override Task OnParametersSetAsync()
    {
        user = await userService.GetUser(userId)!;
    }

    async Task UpdateUser()
    {
        await userService.UpdateUser(user);
        uriHelper.NavigateTo("/user");
    }
}
