@using Authentication
@inherits LayoutComponentBase

@inject IJSRuntime JSRuntime
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager NavigationManager

<PageTitle>Document Manager</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <a @onclick="LogoutAndClearSession">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="authentication/login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {

    public async Task LogoutAndClearSession()
    {
        await JSRuntime.InvokeVoidAsync("blazorHelpers.clearSession");
        await JSRuntime.InvokeVoidAsync("blazorHelpers.refresh");
        NavigationManager.NavigateTo("/", true);
    }

}
